* {
    color: #2a2a2a;
    margin: auto;
}

.dialog {
    width: 250px;
    height: 290px;
    background-color: #efefef;

    opacity: 0.8;
    border-radius: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
}

.inputs {
    padding: 50px 0 20px;
}

md-card {
    padding: 50px 40px;
}

md-input-container {
    width: 200px;
    font-family: 'Open Sans', sans-serif;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
}

md-card-title {
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    font-size: 200%;
}