<md-card class="dialog">
  <md-card-title>Tinker!</md-card-title>
  <md-card-subtitle>A seamless experience.</md-card-subtitle>
  <md-card-content>

    <div class="inputs">
      <md-input-container>
        <input type="email" md-input placeholder="Email">
      </md-input-container>
      <md-input-container>
        <input type="password" md-input placeholder="Password">
      </md-input-container>
    </div>

    <button md-raised-button color="primary">Log In</button>
    <button md-raised-button>Sign Up</button>

  </md-card-content>
</md-card>
