.background {
    background: url('../assets/bg.jpg') no-repeat center center;
    background-size: 1920px 1080px;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*animation: fade 5s ease-out;*/
}

@keyframes fade {
    from {
        opacity: 0; 
    } to {
        opacity: 1;
    }
}